<div class="stats-card">
  <div class="stats-grid">
    <div class="grid-item">
      <h4>Name</h4>
      <strong id="name">{{statsData?.name}}</strong>
    </div>
    <div class="grid-item">
      <h4>Active Auctions</h4>
      <p id="activeAuctions">{{statsData?.activeAuctions}}</p>
    </div>
    <div class="grid-item">
      <h4>Total Auctions</h4>
      <p id="totalAuctions">{{statsData?.totalAuctions}}</p>
    </div>
    <div class="grid-item">
      <h4>Min Sold Price</h4>
      <p id="minSoldPrice">{{statsData?.minSoldPrice}}</p>
    </div>
    <div class="grid-item">
      <h4>Max Sold Price</h4>
      <p id="maxSoldPrice">{{statsData?.maxSoldPrice}}</p>
    </div>
    <div class="grid-item">
      <h4>Avg Sold Price</h4>
      <p id="avgSoldPrice">{{statsData?.avgSoldPrice}}</p>
    </div>
  </div>
</div>
