<mat-card class="car-card">
  <div class="car-image">
    <img mat-card-image [src]="'data:image/jpeg;base64,' + car?.image" alt="Damaged car image">
  </div>
  <div class="car-details">
    <div class="car-title-container">
      <div class="car-title">{{ car?.carMake + ' ' + car?.carModel }}</div>
      <div class="car-description"><strong>Description:</strong> {{ car?.damageDescription }}</div>
      <div class="car-vin"><strong>VIN:</strong> {{ car?.vin }}</div>
      <div class="car-carState"><strong>State:</strong> {{ car?.carState }}</div>
    </div>
  </div>
  <div class="auction-details">
    <div class="auction-title"><strong>Initial price: </strong>{{ car?.initialPrice + ' $'}}</div>
    <div class="auction-description"><strong>Start date:</strong> {{ car?.auctionStartDate }}</div>
    <div class="auction-vin"><strong>Duration:</strong> {{ car?.auctionDuration + ' hours' }}</div>
    <div class="auction-carState"><strong>Time left:</strong> {{ car?.timeLeft }}</div>
    <div *ngFor="let bidItem of car?.bidsList; let i = index">
      {{ (i + 1) + '. ' + bidItem.bidAmount + ' $ - ' + bidItem.userName }}
    </div>
  </div>
</mat-card>
