mat-card {
  max-width: 400px;
  margin: 50px auto;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.login-title {
  margin: 1rem auto;
  font-weight: bold;
  color: #ef393f;
  font-size: 22px;
}

.login-button {
  background: #f5e5bf;
  border: 2px solid #eedcae;
  color: black;
}
