<mat-toolbar color="primary">
  <div class="logo-container">
    <img src="https://images.vexels.com/media/users/3/128573/isolated/preview/057cf8e7e960d13efa5f6240456fba15-red-circle-retro-car.png"
      alt="Your Logo" class="logo">
  </div>
  <div class="nav-links-wrapper">
    <div class="nav-links">
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/lot-list">
        Auctions
      </button>
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/lot-list">
        My bids
      </button>
      <button mat-raised-button type="submit"
              class="nav-links-button" routerLink="/lot-list">
        Insurance companies
      </button>
    </div>
    <button class="nav-account-icon" mat-icon-button>
      <mat-icon [ngStyle]="{'color':'#ef393f'}">account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
