<mat-card>
  <mat-card-title>{{carLot?.carMake + ' ' + carLot?.carModel}}</mat-card-title>
  <div class="car-information-grid">
    <div>Car make</div>
    <div>{{carLot?.carMake}}</div>

    <div>Car model</div>
    <div>{{carLot?.carModel}}</div>

    <div>VIN</div>
    <div>{{carLot?.vin}}</div>

    <div>Damage description</div>
    <div>{{carLot?.damageDescription}}</div>

    <div>Car state</div>
    <div>{{carLot?.carState}}</div>

    <div>Insurance company</div>
    <div>{{carLot?.insuranceCompany}}</div>
  </div>
</mat-card>
